# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.python-version

# Virtual envs
.venv/
venv/
.env
.env.*
.streamlit/secrets.toml

# Tooling / caches
.cache/
.mypy_cache/
.pytest_cache/
ruff_cache/

# App artifacts
data/logs/
logs/

# Editors
.vscode/
.idea/
.DS_Store
.streamlit/secrets.example.toml
